*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
body {
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --color-white: rgb(220, 218, 218);
  --color-bg: rgb(17, 17, 17);
}
